<div class="cta-area ptb-100">
    <div class="container">
        <div class="cta-content">
            <div class="section-title mb-0">
                <img width="400" src="../../../../assets/img/header_logo.svg" alt="">
                <h2>انتل كارت مزود معتمد لحلول الفوترة الإلكترونية</h2>
                <p>وقعت شركة العربة الدولية لتقنية المعلومات (انتل كارت) اتفاقية مع هيئة الزكاة والضرائب والجمارك باعتبارها جهة معتمدة لتقديم حلول الفوترة الالكترونية وذلك بعد اجتياز جميع متطلبات هيئة الزكاة والضرائب والجمارك بنجاح ولله الحمد.
                    نقدم لعملائنا نظام فواتير إلكترونية سهل الاستخدام، سواء كان مستقلاً أو مدمجًا مع نظام  Odoo ERP لتمكينهم من الحصول على تجربة إدارة أعمال أفضل.
                </p>
                <img width="150" src="../../../../assets/img/fatoora.svg" alt="">
            </div>
        </div>
    </div>
</div>
