<div class="main-banner item-bg-one">
    <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="main-banner-text">
                    <!-- <h4>We Are Creative</h4> -->
                    <h1>تاريـــخ من التجارب والخبرات المميز، متوج بجوائز عالمية</h1>
                    <!-- <p>رواد في مجال تطوير ورقمنة سوق بيع قطع غيار السيارات ومراكز الصيانة، لتمكين قطاع السيارات من الازدهار في المملكة العربية السعودية.
                    </p> -->

                    <P>رواد في تحويل سوق السيارات في المملكة العربية السعودية إلي عصر رقمي جديد من خلال تطبيق تقنيات (IOT) وإنترت الإشياء والذكاء الصناعي لتحسين سلامة السيارات وكفائتها وأدائها</P>
                    <a (click)="onClick('about')" class="btn btn-primary">عنـا</a>
                    <a (click)="onClick('contact')" class="btn btn-primary view-work">تواصل معنا</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <app-welcome></app-welcome> -->

<app-about></app-about>

<!-- <app-strategy></app-strategy> -->


<app-cta></app-cta>

<!-- <app-skill></app-skill> -->

<!-- <app-funfacts></app-funfacts> -->

<app-team></app-team>
<app-who-we-are></app-who-we-are>

<app-how-we-work></app-how-we-work>

<app-services></app-services>

<app-why-we-different></app-why-we-different>

<!-- <app-work></app-work> -->

<!-- <app-pricing></app-pricing> -->

<!-- <app-faq></app-faq> -->

<!-- <app-feedback></app-feedback> -->

<!-- <app-blog></app-blog> -->

<!-- <app-partner></app-partner> -->

<!-- <app-subscribe></app-subscribe> -->

<app-contact></app-contact>
