<div class="who-we-are-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>حلولنا</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>

        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="solution-bg">
                    <img src="../../../../assets/img/solution-1.png" width="200" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <img src="../../../../assets/img/solution-2.png" width="200" alt="">
            </div>
        </div>

    </div>
</div>
