<div class="why-we-different ptb-100 bg-F7F5F4">
    <div class="container">
        <div class="section-title">
            <h2>قيمنا</h2>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-users"></i>
                    <h3>الإنتاجية</h3>
                    <p>نحن نقدم خدمات وحلول تكنولوجيا المعلومات مصممة خصيصا للشركات السيارات في الوقت المحدد، في كل مرة، لذلك عملائنا يمكن أن تعتمد دائما على منتجاتنا / الخدمات</p>
                    <span>1</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="far fa-lightbulb"></i>
                    <h3>الالتزام</h3>
                    <p>نحن ملتزمون لعملائنا، لفريقنا، والقيادة في منتجات قطع غيار  السيارات وخدمات صيانة  السيارات وخدمات  ما بعد البيع. </p>
                    <span>2</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fas fa-tag"></i>
                    <h3>الدعم والتشجيع</h3>
                    <p>ندعم و نشجع فريقنا على التفكير من خارج الصندوق وإحداث فرق في شركتنا وفي خدمات تكنولوجيا المعلومات مصممة خصيصا وحلول للشركات السيارات نأتي إلى السوق.
                    </p>
                    <span>3</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="far fa-hand-scissors"></i>
                    <h3>تقدمي</h3>
                    <p>كخبراء في مجال قطع غيار السيارات، نعمل باستمرار في تحدي  أنفسنا للبقاء خطوة متقدمة في الأمام في هذه الصناعة، والسعي للحصول على منتجات وخدمات وحلول جديدة التي توافق احتياجات عملائنا.
                    </p>
                    <span>4</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="fab fa-linode"></i>
                    <h3>الابتكار</h3>
                    <p>نحن في انتل كارت نقدم خدمات تكنولوجيا المعلومات مصممة خصيصا والحلول للشركات السيارات من خلال تزويد المستخدمين النهائيين مع تجربة مرضية في نهاية المطاف.
                    </p>
                    <span>5</span>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-who-we-are">
                    <i class="far fa-life-ring"></i>
                    <h3>الايجابية</h3>
                    <p>نحن نقدم خدمات وحلول تكنولوجيا المعلومات مصممة خصيصا للشركات السيارات في الوقت المحدد، في كل مرة، لذلك عملائنا يمكن أن تعتمد دائما على منتجاتنا / الخدمات</p>
                    <span>6</span>
                </div>
            </div>
        </div>
    </div>
</div>
